<div class="container">
<div class="row">
   <div class="col-xs-12">
      <div class="box box-info">
         <div class="box-header with-border">
            <h3 class="box-title">List of User Groups</h3>
         </div>
         <div class="box-body">
            <div class="col-md-9">
               <h3 class="pull-right"  style="font-size: 15px;" >Showing {{ source.count()}} of {{filteredcount}} entries
               </h3>
            </div>
            <div class="col-md-12" style="object-position: fixed;">
               <ng2-smart-table [settings]="settings" [source]="source" 
               (deleteConfirm)="onDeleteConfirm($event)"> </ng2-smart-table>
            </div>
         </div>
      </div>
   </div>
</div>
<a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" style="float: right;">Create New User Group</a><br/>
<!-- Modal window for new user group -->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="box box-info">
         <div class="box box-info">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Create New User Group</h4>
               </div>
               <div class="modal-body">
                  <form #grpForm="ngForm">
                     <div class="form-group" class="form-inline">
                        <label for="name">Name </label> 
                        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="newUserGroup.userGroupName"  #name="ngModel"  
                        minlength="3" maxlength="15" pattern="[A-Za-z0-9]*" required>
                        <div  *ngIf="name.errors && (name.dirty || name.touched)">
                           <div [hidden]="!name.errors.required">
                              Please enter the name
                           </div>
                           <div [hidden]="!name.errors.minlength">
                              Name must be at least 3 characters long.
                           </div>
                           <div [hidden]="!name.errors.maxlength">
                              Name cannot be more than 15 characters long.
                           </div>
                           <div [hidden]="!name.errors.pattern">
                              Name should be alphanumerics.
                           </div>
                        </div>
                     </div>
                     <br/>
                     <!-- <div  class="form-group" class="form-inline">
                        <label>Roles</label>
                        <select class="selectpicker">  <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option></select>
                        </div><br/> -->
                     <ng-container *ngIf="!name.errors">
                        <span defaultOverlayTarget></span>
                        <button (click)="onClick()">Add Members</button><br/><br/>
                        <a href="javascript:void(0)">Add Role</a>
                     </ng-container>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>&nbsp;
                        <button type="submit" class="btn btn-primary" (click)= "addUserGroup()" [disabled]="!grpForm.form.valid">Create</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
