@media screen and (min-width: 1620px) {
.row.shift-up {
> * {
margin-top: -573px;
}
}
}

@media screen and (max-width: 1620px) {
.card.feed-panel.large-card {
height: 824px;
}
}

.user-stats-card {
.card-title {
padding: 0 0 15px;
}
}

.blurCalendar {
height: 475px;
}
thead {
color: black;
text-transform: uppercase;
}
.table > tbody > tr > td {
    background-color: black;
    border: 1px solid;
    }
    
    .container {
color: white !important;
}
.al-main {
 background-color: black !important;
 }
