@media screen and (min-width: 1620px) {
.row.shift-up {
> * {
margin-top: -573px;
}
}
}

@media screen and (max-width: 1620px) {
.card.feed-panel.large-card {
height: 824px;
}
}

.user-stats-card {
.card-title {
padding: 0 0 15px;
}
}

.blurCalendar {
height: 475px;
}
thead {
text-transform: uppercase;
}
.table > tbody > tr > td {
    //background-color: black;
    //border: 1px solid;
    }
    
    .container {
//color: white !important;
}
.al-main {
 background-color: black !important;
 }
button.btn.btn-default {
   // float: right;
}
.btn-group-sm > .btn, .btn-sm {
    padding: 3px 5px;
    font-size: 9px;
    line-height:0;
}
.table > tbody > tr > td {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid lightslategray;
    text-align: center;

}
.table > thead > tr > th {
 border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid lightslategray;
    text-align: center;
    }
    tbody {
    font-size: 12px;
}