<div class="container">
<table class="table table-hover table-inverse">
    <thead>
      <tr class="accordion-toggle"  data-toggle="collapse" data-target="#collapseOne">
        <th>User Groups</th>
        <th>Roles</th>
        <th>Permission</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of items ">
        <td class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" ><button type="button" class="btn btn-default btn-sm" (click)="list.show = !list.show"><span 
        class="fa " [ngClass]="{'fa-plus': !list.show , 'fa-minus': list.show }"></span></button> {{list.userGroup}}
        <div *ngIf="list.show">
            {{list.user.name}} <br/>
        </div>
       <!--  <div *ngFor="let subItem of items['user']" >
        {{subItem.name}}<br/>
        </div> -->
       </td>
<!--         <td *ngFor="let subList of list.roles "> {{subList.roles}}</td>
 -->         
        <td >
          <div *ngFor="let row of list.roles">
            <span>{{row}}</span>
          </div>
        </td>
      <td> {{list.permission[0]}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <template ngFor let-parent [ngForOf]="parents">
   <div *ngFor="let child of parent.children">
    </div>
</template>

 -->